<div class="center jumbotron">
  <h1>Power Som</h1>
  <h2>
    Bem vindo ao aplicativo de recebimento e devoluções de alto falantes da 
    <%= link_to 'Power Som', "/reforms" %>
  </h2>
  <br/>
  <p class="btn btn-lg btn-primary"> 
    <%= link_to 'Receber novo alto falante', "/reforms/new" %> 
  </p>
</div>

<div class="reforms">
  <div class="container">
    <ul>
      <% @reforms.each do |reform| %> 
      <li>
      <h3><%= reform.client %></h3>
      <p><%= reform.description %></p>
      <p><%= reform.created_at %></p>
      </li>
      <% end %>
    </ul>
  </div>
</div>
